@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>
<img src="https://latterdaysaintmag.com/wp-content/uploads/2017/10/207242_1013048533662_2860_n.jpg" alt="Joel" width="100%">